<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/header') %>
  <style>
    body {
      font-family: "Jua", sans-serif;
    }
  </style>
</head>
<body>
  <%- include('../common/nav') %>

  <div class="container">
    <h1><%= store.name%></h1>
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-subtitle">Review</h5>
        <p><%= store.review %></p>
        <h5 class="card-subtitle">Part</h5>
        <p><%= store.part %></p>
        <h5 class="card-subtitle">Address</h5>
        <p><%= store.addr %></p>
        <h5 class="card-subtitle">Naver Link</h5>
        <a href="<%=store.nLink %>">Naver</a>
      </div>
    </div>
  </div>
</body>
</html>