<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/header') %>
</head>
<body>
  <%- include('../common/nav') %>

  <div class="container">
    <h1>Admin home</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% if (stores.length) { %>
          <% for (let store of stores) { %>
            <tr>
              <th scope="row"><%= store.id %></th>
              <td><a href="/admin/stores/<%= store.id %>"><%= store.title %></a></td>
              <td><%= store.addr %></td>
              <td><a class="btn btn-primary" href="/admin/stores/<%= store.id %>/form">update</a></td>
              <td>
                <form action="/admin/stores/<%= store.id %>" method="POST">
                  <input type="hidden" name="_method" value="DELETE" />
                  <input class="btn btn-primary" type="submit" value="delete" />
                </form>
              </td>
            </tr>
          <% } %>
        <% } else { %>
          <tr>
            <td>No data</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>