<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/header') %>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
</head>
<body>
  <%- include('../common/nav') %>

  <div class="container">
    <h1>Update Form</h1>
    <form action="/admin/stores/<%= store.id %>" method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <div class="mb-3">
        <label for="name" class="form-label"><h3>name</h3></label>
        <input type="text" class="form-control" id="name" name="name" value="<%= store.name %>">
      </div>
      <div class="mb-3">
        <label for="review" class="form-label"><h3>review</h3></label>
        <input type="text" class="form-control" id="review" name="review" value="<%= store.review %>">
      </div>
      <div class="mb-3">
        <label for="nLink" class="form-label"><h3>Naver Link</h3></label>
        <input type="text" class="form-control" id="nLink" name="nLink" value="<%= store.nLink %>">
      </div>
      <div class="mb-3">
        <label for="part" class="form-label"><h3>Part</h3></label>
        <select id="part" class="form-select" name="part">
          <option value="restaurant">식당</option>
          <option value="cafe">카페</option>
          <option value="goodPlace">명소</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="addr" class="form-label"><h3>Address</h3></label>
        <div class="input-group">
          <input type="text" class="form-control" id="addr" name="addr" value="<%= store.addr %>" readonly>
          <button type="button" class="btn btn-secondary"onclick="execDaumPostCode()">주소검색</button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

<script>
function execDaumPostCode() {
    new daum.Postcode({
        oncomplete: function(data) {
            var address = data.address; // 최종 주소 변수

            // 주소 정보를 해당 필드에 넣는다.
            document.getElementById("addr").value = address;
        }
    }).open();
}
</script>

</html>